.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body:not(.page-regionSelectionPage) {
  padding: 0;
}


li {
  list-style-type: none;
}

input {
  color: black;
}

.drop-zone {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}


